.Home {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  width: 100vw;
  color: white;

  .shade {
    position: absolute;
    top: 0;
    z-index: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.8;
  }

  .Score {
    position: absolute;
    bottom: 0;
    z-index: 1;
    margin: 30px;
  }

  .Wrapper {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .Text {
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 15px;

      .Title {
        font-size: 36px;
        margin: 5px;
      }
      .Artist {
        display: flex;
        flex-direction: row;

        margin: 5px 0 20px 0;
        font-size: 28px;
      }

      .Date {
        font-size: 48px;
        margin: 5px;
      }
      .Buttons {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 22px;
        font-weight: bold;
        margin: 20px;

        div {
          margin: 20px 50px;
          padding: 20px 75px;

          cursor: pointer;
          border: 3px solid white;
          border-radius: 50px;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }

  .loser {
    position: relative;
    z-index: 1;
  }
}
